---
title: Intel Laptop Chips Plagued by Repeated Shutdown Incidents; Similarities to Past Defect Episodes Surface in Test Results
date: 2024-08-15T06:25:48.671Z
updated: 2024-08-16T06:25:48.671Z
tags:
  - cpu
categories:
  - hardware
thumbnail: https://cdn.mos.cms.futurecdn.net/qSQx4UwL6FGTdmcKjrWLmP-320-80.jpg
---

## Water Cooling Unleashes Power: The Ryzen 9 9950X Secures 5Th Fastest CPU Title, Behind Xeon and Threadripper in Extreme Benchmarks

AMD's upcoming Ryzen 9 9950X Zen 5 flagship, which will compete against the[best CPUs](https://www.tomshardware.com/reviews/best-cpus,3986.html) , is already breaking some world records with conventional liquid cooling. First discovered by[HXL on X](https://x.com/9550pro/status/1818987621689000000?t=lxpe4iE%5Fhxjl%5FoCGhGJr4w&s=31) , a Ryzen 9 9950X owner has already submitted several benchmark runs to HWBot, featuring some potent results, including a top-five placement in the Time Spy Extreme CPU benchmark.

 The user submitted five benchmark runs to HWBot, one in 3D Mark Time Spy Extreme, two in the 3DMark CPU Profile (multi and single core), another in Cinebench 2003, and another in the HWBot x265 benchmark at 1080p.

 In 3DMark Time Spy Extreme, the Ryzen 9 9950X scored a very impressive 29,102 mark, which puts it in the top five best CPU benchmark runs ever recorded on HWBot for this specific benchmark. The Ryzen 9 9950X slots into the place, flanked by substantially higher core count chips such as the[Ryzen Threadripper Pro 5995WX](https://www.tomshardware.com/reviews/amd-threadripper-pro-5995wx-5975wx-cpu-review) ,[Ryzen Threadripper 3990X](https://www.tomshardware.com/features/amd-threadripper-3990x-world-records) , and Intel[Xeon W9-3495X](https://www.tomshardware.com/news/intel-xeon-w9-3495x-can-draw-1900w) . The Ryzen 9 9950X also secured first place among 16-core parts specifically and is the fastest 16-core chip in this benchmark currently on the HWBot leaderboard.

![HWBot Ryzen 9 9950X 5th place score](https://cdn.mos.cms.futurecdn.net/7Bfw4CBh7fsfLC6gWq66nW-320-80.png)

(Image credit: HWBot)

 The Zen 5 flagship also secured a 10th-place position in HWBot's 3DMark CPU Profile 1 Thread: Hall of Fame. The Ryzen 9 9950X achieved 1,393 marks flanked by unlocked 14th Gen, 13th Gen, 12th Gen, and 11th Gen parts, with all of these Intel chips running well over 6 GHz.

 LATEST VIDEOS FROM tomshardware Tom's Hardware

 In the same test, but utilizing all cores, the Ryzen 9 9950X managed to secure a less impressive 23rd place. However, the Zen 5 chip managed to secure 1st place among all 16-core CPU runs, making it the fastest 16-core CPU in this specific benchmark on HWBot.

 The Ryzen 9 9950X secured 107th place in Cinebench 2003 and 20th place among 16-core chips only in the same benchmark. In the HWBot X265 benchmark, the Zen 5 chip scored a result good enough for 32nd place and was again the fastest 16-core chip in this benchmark specifically.

 The Ryzen 9 9950X's performance is impressive. The CPU leveraged AMD's PBO and Curve Optimizer technologies with speedy RAM. The system utilizes a custom loop to remain cool during the[benchmarks](https://www.tomshardware.com/tag/benchmark) . Extreme overclockers can break world records with this chip once they put it under liquid nitrogen.

## Stay On the Cutting Edge: Get the Tom's Hardware Newsletter

 Get Tom's Hardware's best news and in-depth reviews, straight to your inbox.

 Contact me with news and offers from other Future brands  Receive email from us on behalf of our trusted partners or sponsors

 By submitting your information you agree to the[Terms & Conditions](https://futureplc.com/terms-conditions/) and[Privacy Policy](https://futureplc.com/privacy-policy/) and are aged 16 or over.


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://extra-tips.techidaily.com/new-advanced-psd-text-styling/"><u>[New] Advanced PSD Text Styling</u></a></li>
<li><a href="https://tiktok-clips.techidaily.com/new-in-2024-crossing-into-a-shared-tiktok-space-easy-ways/"><u>[New] In 2024, Crossing Into a Shared TikTok Space  Easy Ways</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/updated-excellence-in-film-gear-2024s-picks/"><u>[Updated] Excellence in Film Gear  2024'S Picks</u></a></li>
<li><a href="https://screen-activity-recording.techidaily.com/updated-in-2024-screen-capture-expertise-3-cost-free-methods/"><u>[Updated] In 2024, Screen Capture Expertise  3 Cost-Free Methods</u></a></li>
<li><a href="https://some-techniques.techidaily.com/2024-approved-experts-selection-ideal-sierra-dvd-creators/"><u>2024 Approved  Expert’s Selection  Ideal Sierra DVD Creators</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/addressing-user-concerns-noctuas-response-on-the-nh-d15-g2-fans-producing-unusual-noise/"><u>Addressing User Concerns: Noctua's Response on the NH-D15 G2 Fans Producing Unusual Noise</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/advanced-computing-insights-curated-by-toms-hardware-experts/"><u>Advanced Computing Insights Curated by Tom's Hardware Experts</u></a></li>
<li><a href="https://howto.techidaily.com/best-methods-for-infinix-hot-30i-wont-turn-on-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>Best Methods for Infinix Hot 30i Wont Turn On | Dr.fone</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/decoding-technology-an-in-depth-look-at-devices-featured-on-toms-site/"><u>Decoding Technology: An In-Depth Look at Devices Featured on Tom's Site</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/expert-picks-leading-edge-cameras-for-flawless-hd-chat-and-recording/"><u>Expert Picks: Leading Edge Cameras for Flawless HD Chat and Recording</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/gadgets-and-gear-insights-by-toms-hardware-review/"><u>Gadgets & Gear Insights by Tom's Hardware Review</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/gaming-and-laptop-efficiency-screenspokes-selection-of-top-portable-monitors-2024-edition/"><u>Gaming & Laptop Efficiency: Screenspoke's Selection of Top Portable Monitors - 2024 Edition</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/homemade-3d-chocolate-creations-with-the-cocoapress-3d-printer-a-comprehensive-review/"><u>Homemade 3D Chocolate Creations with the CocoaPress 3D Printer - A Comprehensive Review</u></a></li>
<li><a href="https://buynow-info.techidaily.com/how-did-the-wii-u-achieve-marketing-triumph/"><u>How Did the Wii U Achieve Marketing Triumph?</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/how-to-excel-with-orca-slicer-beginners-walkthrough/"><u>How to Excel with ORCA-Slicer - Beginner's Walkthrough</u></a></li>
<li><a href="https://location-social.techidaily.com/in-2024-how-to-fake-snapchat-location-on-vivo-y27-4g-drfone-by-drfone-virtual-android/"><u>In 2024, How to Fake Snapchat Location on Vivo Y27 4G | Dr.fone</u></a></li>
<li><a href="https://extra-support.techidaily.com/in-2024-optimized-titling-techniques-for-youtube-success/"><u>In 2024, Optimized Titling Techniques for YouTube Success</u></a></li>
<li><a href="https://android-frp.techidaily.com/in-2024-step-by-step-tutorial-how-to-bypass-lava-blaze-2-frp-by-drfone-android/"><u>In 2024, Step-by-Step Tutorial How To Bypass Lava Blaze 2 FRP</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/in-depth-analysis-of-the-teamgroup-t-force-dark-airflow-i-top-choice-for-nvme-ssd-cooling/"><u>In-Depth Analysis of the TeamGroup T-Force Dark AirFlow I - Top Choice for NVMe SSD Cooling</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/in-depth-hardware-examinations-from-toms-technological-perspectives/"><u>In-Depth Hardware Examinations From Tom's Technological Perspectives</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/master-your-computer-needs-expert-advice-from-toms-hardware/"><u>Master Your Computer Needs: Expert Advice From Tom's Hardware</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/navigate-the-world-of-technology-with-toms-hardware-hub/"><u>Navigate the World of Technology with Tom's Hardware Hub</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/navigate-through-tech-specs-masterclass-tutorials-by-toms-hardware-experts/"><u>Navigate Through Tech Specs: Masterclass Tutorials by Tom's Hardware Experts</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/navigating-tech-innovations-with-tomnhardware-insights/"><u>Navigating Tech Innovations with Tom'n'Hardware Insights</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/navigating-the-digital-world-through-toms-electronics-blog/"><u>Navigating the Digital World Through Tom's Electronics Blog</u></a></li>
<li><a href="https://tech-haven.techidaily.com/openai-rebuts-claims-of-chatgpts-intelligence-drop-what-you-need-to-know/"><u>OpenAI Rebuts Claims of ChatGPT's Intelligence Drop - What You Need to Know</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/revolutionary-noctua-nh-d12l-chromaxblack-unmatched-cooling-power-at-an-irresistible-price-of-99/"><u>Revolutionary Noctua NH-D12L Chromax.Black: Unmatched Cooling Power at an Irresistible Price of $99!</u></a></li>
<li><a href="https://vp-tips.techidaily.com/revolutionize-how-you-interact-with-tech-best-mac-tts-programs-reviewed/"><u>Revolutionize How You Interact with Tech  Best Mac TTS Programs Reviewed</u></a></li>
<li><a href="https://win-answers.techidaily.com/solving-ready-or-not-stuttering-problems-a-comprehensive-guide-for-a-smooth-gaming-experience/"><u>Solving 'Ready Or Not' Stuttering Problems: A Comprehensive Guide for a Smooth Gaming Experience</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/stay-frosty-without-breaking-the-bank-snag-the-arctic-aiold2018a-v2-air-cooler-at-74-deal-today/"><u>Stay Frosty Without Breaking the Bank – Snag the Arctic AIOLD2018A v2 Air Cooler at $74 Deal Today</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/tech-giants-unite-the-future-of-high-capacity-cpu-cooling-with-intels-2kw-tdp-xeon-processors-and-exxonmobils-innovative-liquid-techniques/"><u>Tech Giants Unite: The Future of High-Capacity CPU Cooling with Intel's 2kW TDP Xeon Processors and ExxonMobil's Innovative Liquid Techniques</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/the-ultimate-guide-to-choosing-a-portable-display-in-2veal-year-best-models-for-playing-and-working/"><u>The Ultimate Guide to Choosing a Portable Display in 2Veal Year – Best Models for Playing and Working</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/toms-tech-review-comprehensive-insights-on-latest-gadgets/"><u>Tom's Tech Review: Comprehensive Insights on Latest Gadgets</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/top-gaming-laptop-picks-below-1500-high-performance-on-a-budget/"><u>Top Gaming Laptop Picks Below $1,500: High Performance on a Budget</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/transform-your-gaming-rig-hytes-nexus-link-offers-seamless-assembly-wireless-components-and-high-performance-aio-technology/"><u>Transform Your Gaming Rig: Hyte's Nexus Link Offers Seamless Assembly, Wireless Components & High-Performance AIO Technology!</u></a></li>
<li><a href="https://some-skills.techidaily.com/ultimate-slomo-app-assessment-insights-for-2024/"><u>Ultimate SloMo App Assessment - Insights for 2024</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/uncover-tech-secrets-the-ultimate-guide-by-toms-hardware/"><u>Uncover Tech Secrets: The Ultimate Guide by Tom's Hardware</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/uncovering-the-latest-in-pc-components-with-toms-gear-guide/"><u>Uncovering the Latest in PC Components with Tom's Gear Guide</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/unveiling-computer-secrets-with-toms-hardware-wisdom/"><u>Unveiling Computer Secrets with Tom's Hardware Wisdom</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/unveiling-the-latest-in-computing-tune-into-toms-hardware-reviews/"><u>Unveiling the Latest in Computing - Tune Into Tom's Hardware Reviews</u></a></li>
</ul></div>

<!-- affiliate ads begin -->
<a href="https://store.movavi.com/affiliate.php?ACCOUNT=MOVAVI&AFFILIATE=108875&PATH=https%3A%2F%2Fwww.movavi.com%3FAFFILIATE%3D108875%26RESOURCE%3DMovavi%2BVideo%2BEditor%2Bbox"><img src="https://mcusercontent.com/0885a03ded3d480dca9287f12/images/6d3207fd-9f15-4c21-f0ad-59c68e6a7e2a.png" border="0"></a>
<!-- affiliate ads end -->