---
title: Lead Detected in Barrow Dabel Radiators, Prompting CaseKing to Halt Sales Post-AIO Test Results
date: 2024-08-19T03:18:51.176Z
updated: 2024-08-20T03:18:51.176Z
tags:
  - cooling
categories:
  - hardware
thumbnail: https://cdn.mos.cms.futurecdn.net/brrNwkTeFTRoU4yHtXWxwS-320-80.jpg
---

## Achieve Unparalleled CPU Speeds Using Our Advanced, AI-Generated Liquid Nitrogen Vessel – Up to 3X Faster than Regular Techniques

Skatterbencher and three industry-leading partners have completed a feasibility study to see if it’s possible to build a liquid nitrogen (LN2) container using generative AI and additive manufacturing techniques, also known as 3D printing. In[a blog post](https://skatterbencher.com/2024/06/28/testing-the-ai-generated-3d-printed-cpu-ln2-container/) and YouTube video, the partners show that it’s possible, but perhaps not financially wise, for the benefits obtained.

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2068407/7443" target="_top" id="2068407"><img src="//a.impactradius-go.com/display-ad/7443-2068407" border="0" alt="" width="1200" height="600"/></a><img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2068407/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
 Testing the $10,000 AI-generated 3D Printed LN2 Container - YouTube ![Testing the $10,000 AI-generated 3D Printed LN2 Container - YouTube](<https://img.youtube.com/vi/S5Wm0GED6wo/maxresdefault.jpg>)

[Watch On](https://youtu.be/S5Wm0GED6wo)

 Pieter of Skatterbencher is an expert in overclocking and teamed up with three industry-leading companies to explore the possibilities of AI and 3D printing for LN2 cooling. These included Diabatix, a Belgian company pioneering the use of generative AI in thermal solutions, and 3D Systems, an expert in additive manufacturing. Rounding out the partnership was ElmorLabs, a well-known name in overclocking.

 The project used the[ElmorLabs Volcano CPU LN2 container](https://elmorlabs.com/product/elmorlabs-volcano-ln2-container/) as a reference design. It tasked Diabatix’s ColdStream Next AI platform with designing a new LN2 container to improve the reference design. Once the design was complete, the team sent it to 3D Systems to produce a prototype using oxygen-free copper powder.

[AI-generated design for an LN2 container AI-generated design for an LN2 container  (Image credit: SkatterBencher)](https://cdn.mos.cms.futurecdn.net/rY9iZLP4CkhY4Z5wHoDe8G-320-80.jpg) AI-generated design for an LN2 container  (Image credit: SkatterBencher) ](https://skatterbencher.com/2024/06/28/testing-the-ai-generated-3d-printed-cpu-ln2-container/)

 The prototype's design and manufacture cost $10,000\. In comparison, the ElmorLabs Volcano CPU LN2 container used as a reference design sells for just $260.

 LATEST VIDEOS FROM tomshardware Tom's Hardware

 The base performance tests compared the AI-designed LN2 container with the ElmorLabs Volcano in three categories:

* Cool-down time, how long it took the liquid nitrogen to cool the container from an ambient temperature of 28º Celsius to -194º Celsius.
* Heat up time, the time required to bring the chamber from -194º Celsius to 20º C using a 1,250W heat load.
* 500mL efficiency, the temperature delta between 28.4º Celsius and the lowest achieved temperature, using 500mL of liquid nitrogen.

 In testing, the AI-generated LN2 container blew away the Volcano in the cool-down test. It reached -194º Celsius in just under 56 seconds. The Volcano took almost three minutes — three times as long as the prototype. The heat-up test also went in the AI design’s favor, but not as dramatically. The container heated to 20º Celsius 1.2 times faster than the Volcano, more than 30 seconds faster.

 Finally, the AI-designed LN2 container proved 20% more efficient than the ElmorLabs design. Using 500mL of liquid nitrogen, the Volcano cooled down to just -100º Celsius, while the AI-designed prototype went down to -133º Celsius.

<!-- affiliate ads begin -->
<a href="https://shop.manycam.com/order/checkout.php?PRODS=17729331&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/8230bea7d54bcdf99cdfe85cb07313d5/mcaffbanner600x500.png" border="0"></a>
<!-- affiliate ads end -->
## Stay On the Cutting Edge: Get the Tom's Hardware Newsletter

 Get Tom's Hardware's best news and in-depth reviews, straight to your inbox.

 Contact me with news and offers from other Future brands  Receive email from us on behalf of our trusted partners or sponsors

 By submitting your information you agree to the[Terms & Conditions](https://futureplc.com/terms-conditions/) and[Privacy Policy](https://futureplc.com/privacy-policy/) and are aged 16 or over.

 Those tests don’t reflect practical considerations, so the team also conducted further tests of a more practical nature:

* An overclocking performance test using Cinebench 2024.
* Checking the temperature delta between the CPU container base and the CPU heat spreader, to see which design most efficiently transferred heat from the CPU.
* An all-out stress test to see how well the CPU fared powered by more than 600W for a couple of minutes.

 The team found that while the AI-designed container did beat the ElmorLabs Volcano in real-world tests, the improvements were not nearly as pronounced. Given the dramatic price difference between the AI design and the existing product, the AI design is not a cost-effective alternative.

[Performance testing of the AI-generated LN2 container  Performance testing of the AI-generated LN2 container  (Image credit: SkatterBencher)](https://cdn.mos.cms.futurecdn.net/24obZEDvGLyGS9LK3xc3Zc-320-80.jpg)  Performance testing of the AI-generated LN2 container  (Image credit: SkatterBencher) ](https://skatterbencher.com/2024/06/28/testing-the-ai-generated-3d-printed-cpu-ln2-container/)

 With the initial testing out of the way, SkatterBencher and its partners may look into performance and cost optimizations and perhaps change the intended use to be for even higher-power CPUs, like the AMD Ryzen Threadripper. The team would also like to commercialize the design but likely has a fair bit of work ahead of it to make it commercially viable.


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://article-files.techidaily.com/new-2024-approved-mastering-gopro-selection-a-comparative-review/"><u>[New] 2024 Approved  Mastering Gopro Selection  A Comparative Review</u></a></li>
<li><a href="https://screen-sharing-recording.techidaily.com/new-a-new-era-in-iptv-recording-technology-exploration-for-2024/"><u>[New] A New Era in IPTV Recording Technology Exploration for 2024</u></a></li>
<li><a href="https://instagram-video-recordings.techidaily.com/new-instagram-blocking-made-simple-for-2024/"><u>[New] Instagram Blocking Made Simple for 2024</u></a></li>
<li><a href="https://visual-screen-recording.techidaily.com/new-video-chat-with-peace-of-mind-top-10-secure-call-apps-available-without-cost/"><u>[New] Video Chat with Peace of Mind  Top 10 Secure Call Apps Available without Cost</u></a></li>
<li><a href="https://digital-screen-recording.techidaily.com/updated-2024-approved-from-start-to-finish-itunes-video-logging/"><u>[Updated] 2024 Approved  From Start to Finish  ITunes Video Logging</u></a></li>
<li><a href="https://extra-information.techidaily.com/2024-approved-crafting-engaging-unboxings-to-skyrocket-like-counts/"><u>2024 Approved  Crafting Engaging Unboxings to Skyrocket Like Counts</u></a></li>
<li><a href="https://desktop-recording.techidaily.com/2024-approved-mastering-real-time-video-conversations-with-whatsapp-web-on-pcs/"><u>2024 Approved  Mastering Real-Time Video Conversations with WhatsApp Web on PCs</u></a></li>
<li><a href="https://extra-information.techidaily.com/4k-masterpieces-our-favorites-listed-for-2024/"><u>4K Masterpieces  Our Favorites Listed for 2024</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/advanced-gadgetry-guidance-with-toms-technology-resource/"><u>Advanced Gadgetry Guidance with Tom's Technology Resource</u></a></li>
<li><a href="https://desktop-recording.techidaily.com/dynamic-speaker-analysis-episode-8/"><u>Dynamic Speaker Analysis - Episode 8</u></a></li>
<li><a href="https://bypass-frp.techidaily.com/easy-guide-to-honor-play-8t-frp-bypass-with-best-methods-by-drfone-android/"><u>Easy Guide to Honor Play 8T FRP Bypass With Best Methods</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/elevate-your-pc-setup-with-thermaltakes-latest-airflow-marvels-robust-120mm-and-140mm-reversible-fans-now-enhanced-with-stronger-magnets-and-a-clean-design-8/"><u>Elevate Your PC Setup with Thermaltake's Latest Airflow Marvels: Robust 120Mm & 140Mm Reversible Fans, Now Enhanced With Stronger Magnets and a Clean Design Without RGB</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/ensuring-precision-in-your-3d-models-solutions-to-prevent-shifting/"><u>Ensuring Precision in Your 3D Models: Solutions to Prevent Shifting</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/experience-the-future-of-pc-assembly-with-hytes-nexus-link-innovative-aio-cooler-and-user-friendly-wireless-connectivity/"><u>Experience the Future of PC Assembly with Hyte's Nexus Link: Innovative AIO Cooler & User-Friendly Wireless Connectivity</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/1723125167810-explore-the-potential-of-3d-imaging-with-3dmakerpros-mole-a-detailed-assessment-for-tech-enthusiasts/"><u>Explore the Potential of 3D Imaging with 3DMakerPro's Mole - A Detailed Assessment for Tech Enthusiasts</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/1723125247821-gamers-choice-best-pc-configurations-and-models-of-2aturdays-2023/"><u>Gamers' Choice: Best PC Configurations and Models of 2Aturdays, 2023</u></a></li>
<li><a href="https://location-social.techidaily.com/how-to-change-your-zte-blade-a73-5g-location-on-life360-without-anyone-knowing-drfone-by-drfone-virtual-android/"><u>How to Change Your ZTE Blade A73 5G Location on life360 Without Anyone Knowing? | Dr.fone</u></a></li>
<li><a href="https://youtube-data.techidaily.com/24-elevate-your-team-with-expert-talent-selections/"><u>In 2024, Elevate Your Team with Expert Talent Selections</u></a></li>
<li><a href="https://ai-editing-video.techidaily.com/in-2024-how-to-put-a-filter-on-a-video-in-imovie/"><u>In 2024, How to Put a Filter on a Video in iMovie</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/1723175714150-master-effortless-heat-management-with-the-new-idiot-proof-thermal-paste-applicator-from-x-apply-arriving-soon/"><u>Master Effortless Heat Management with the New 'Idiot-Proof' Thermal Paste Applicator From X-Apply - Arriving Soon!</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/mastering-technology-insights-through-toms-hardware-expertise/"><u>Mastering Technology Insights Through Tom's Hardware Expertise</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/navigating-the-world-of-processors-and-pc-parts-with-toms-guidance/"><u>Navigating the World of Processors and PC Parts with Tom's Guidance</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/navigating-through-toms-comprehensive-hardware-reviews/"><u>Navigating Through Tom's Comprehensive Hardware Reviews</u></a></li>
<li><a href="https://common-error.techidaily.com/step-by-step-solutions-for-non-responsive-keyboard-keys-in-windows-os/"><u>Step-by-Step Solutions for Non-Responsive Keyboard Keys in Windows OS</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/the-ultimate-guide-to-choosing-premium-monitors-for-ps5-and-xbox-series-enthusiasts/"><u>The Ultimate Guide to Choosing Premium Monitors for PS5 and Xbox Series Enthusiasts</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/toms-tech-hub-expert-insights-on-latest-hardware/"><u>Tom's Tech Hub: Expert Insights on Latest Hardware</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/toms-tech-insights-innovative-solutions-from-toms-hardware-universe/"><u>Tom's Tech Insights: Innovative Solutions From Tom's Hardware Universe</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/toms-tech-review-comprehensive-guide-on-computer-hardware/"><u>Tom's Tech Review: Comprehensive Guide on Computer Hardware</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/unbeatable-deal-save-75-on-the-lightning-fast-elegoo-neptune-4-pro-editors-pick/"><u>Unbeatable Deal: Save $75 on the Lightning-Fast Elegoo Neptune 4 Pro - Editors Pick!</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/1723125163188-unleash-ultimate-printing-power-with-a-discount-grab-elegoo-neptune-4-pro-at-75-off/"><u>Unleash Ultimate Printing Power with a Discount - Grab Elegoo Neptune 4 Pro at $75 Off</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/unleash-ultimate-printing-power-with-a-discount-grab-elegoo-neptune-4-pro-at-75-off/"><u>Unleash Ultimate Printing Power with a Discount - Grab Elegoo Neptune 4 Pro at $75 Off!</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/unveiling-the-latest-with-toms-technology-hub/"><u>Unveiling the Latest with Tom's Technology Hub</u></a></li>
<li><a href="https://hardware-tips.techidaily.com/unveiling-ultimate-airflow-comprehensive-insights-into-id-coolings-new-royalty-the-frozn-a720-and-a-review-guide/"><u>Unveiling Ultimate Airflow: Comprehensive Insights Into ID-Cooling's New Royalty – The FROZN A720 and A # Review Guide</u></a></li>
</ul></div>
